
[color-scheme="dark"] .arrowU{
   background-image: url(../images/WhiteBorderArrowUp.svg);
}
[color-scheme="dark"] .arrowD{
   background-image: url(../images/WhiteBorderArrowDown.svg);
}
[color-scheme="dark"] .arrowLeft{
   background-image: url(../images/WhiteBorderArrowLeft.svg);
}
[color-scheme="dark"] .arrowRight{
   background-image: url(../images/WhiteBorderArrowRight.svg);
}
[color-scheme="dark"] .jointQ1{
   background-image: url(../images/WhiteBorderQ1.svg);
}
[color-scheme="dark"] .jointQ2{
   background-image: url(../images/WhiteBorderQ2.svg);
}
[color-scheme="dark"] .jointQ3{
   background-image: url(../images/WhiteBorderQ3.svg);
}
[color-scheme="dark"] .jointQ4{
   background-image: url(../images/WhiteBorderQ4.svg);
}
[color-scheme="dark"] .verticalBody{
    width: var(--arrowWidth);
    background-image: url(../images/WhiteBorderVertical.svg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}
[color-scheme="dark"] .horizontalBody{
    height: var(--arrowHeight);
    background-image: url(../images/WhiteBorderHorizontal.svg);
    background-repeat: repeat-x;
    background-size: auto 100%;
}

[color-scheme="dark"] .jointBody{
    width: var(--arrowWidth);
    height: var(--arrowHeight);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
[color-scheme="dark"] .playingBKG{
    background-position: center center;
    background-repeat: no-repeat;
    
    background-image: url(../images/buttonSVGs/playWhite_button.svg);
    background-size: auto 50%;
}
[color-scheme="dark"] .pausedBKG{
    background-position: center center;
    background-repeat: no-repeat;
    
    background-image: url(../images/buttonSVGs/pauseWhite_button.svg);
    background-size: auto 50%;
}
[color-scheme="dark"] .resetBKG{
    background-position: center center;
    background-repeat: no-repeat;
    
    background-image: url(../images/buttonSVGs/resetWhite_button.svg);
    background-size: auto 50%;
}
[color-scheme="dark"] .skipBKG{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-image: url(../images/buttonSVGs/skipWhite_button.svg);
}
[color-scheme="dark"] .slowerBKG{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-image: url(../images/buttonSVGs/slowerAnimation_White_button.svg);
}
[color-scheme="dark"] .fasterBKG{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-image: url(../images/buttonSVGs/fasterAnimation_White_button_Alt.svg);
}
[color-scheme="dark"] .noAnimationBKG{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: url(../images/buttonSVGs/noAnimationWhite_button.svg);
}
[color-scheme="dark"] .lightButton{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-image: url(../images/buttonSVGs/lightSwitch_White_button.svg);
}
[color-scheme="dark"] .singleStepBKG{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(../images/buttonSVGs/oneCommandWhite_button.svg);
}
[color-scheme="dark"] .settingsBKG{
    background-image: url(../images/buttonSVGs/settingsWhite_button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 60%;
}
[color-scheme="dark"] button[fullscreen="off"].fullscreenBKG{
    background-image: url(../images/buttonSVGs/fullscreenWhite_button.svg);
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 60%;
}
[color-scheme="dark"] button[fullscreen="on"].fullscreenBKG{
    background-image: url(../images/buttonSVGs/fullscreen_off_White_button.svg);
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 60%;
}
[color-scheme="dark"] #singleStep.selected{
    background-image: url(../images/buttonSVGs/oneCommandWhitePressed_button.svg)!important;
}
[color-scheme="dark"] #speedDecrease{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(../images/buttonSVGs/decreaseWhite_button.svg);
}
[color-scheme="dark"] #speedIncrease{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(../images/buttonSVGs/increaseWhite_button.svg);
}
[color-scheme="dark"] .paperclip{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(../images/buttonSVGs/paper_clip_White.svg);
}

.arrowU{
   background-image: url(../images/BlackBorderArrowUp.svg);
}
.arrowD{
   background-image: url(../images/BlackBorderArrowDown.svg);
}
.arrowLeft{
   background-image: url(../images/BlackBorderArrowLeft.svg);
}
.arrowRight{
   background-image: url(../images/BlackBorderArrowRight.svg);
}
.jointQ1{
   background-image: url(../images/BlackBorderQ1.svg);
}
.jointQ2{
   background-image: url(../images/BlackBorderQ2.svg);
}
.jointQ3{
   background-image: url(../images/BlackBorderQ3.svg);
}
.jointQ4{
   background-image: url(../images/BlackBorderQ4.svg);
}
.bgI_C_C{
    background-color: transparent !important;
    position: absolute;
    background-position: center center;
    background-size: contain;
}
.arrowUP_Down{
    width: var(--arrowHeadH);
    height: var(--arrowHeadW);
    background-repeat: no-repeat;
}
.arrowLeft_Right{
    width: var(--arrowHeadW);
    height: var(--arrowHeadH);
    background-repeat: no-repeat;
}

.verticalBody{
    width: var(--arrowWidth);
    background-image: url(../images/BlackBorderVertical.svg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}
.horizontalBody{
    height: var(--arrowHeight);
    background-image: url(../images/BlackBorderHorizontal.svg);
    background-repeat: repeat-x;
    background-size: auto 100%;
}
.jointBody{
    width: var(--arrowWidth);
    height: var(--arrowHeight);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.playingBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    background-image: url(../images/buttonSVGs/play_button.svg);
    background-size: auto 50%;
}
.pausedBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    background-image: url(../images/buttonSVGs/pause_button.svg);
    background-size: auto 50%;
}
.resetBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    background-image: url(../images/buttonSVGs/reset_button.svg);
    background-size: auto 50%;
}
.skipBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 50%;
    
    background-image: url(../images/buttonSVGs/skip_button.svg);
}
.slowerBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: url(../images/buttonSVGs/slowerAnimation_button.svg);
}
.fasterBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: url(../images/buttonSVGs/fasterAnimation_button_Alt.svg);
}
.noAnimationBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: url(../images/buttonSVGs/noAnimation_button.svg);
}
.lightButton{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-image: url(../images/buttonSVGs/lightSwitch_button.svg);
}
.singleStepBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(../images/buttonSVGs/oneCommand_button.svg);
}
[color-scheme="light"] .settingsBKG{
    background-image: url(../images/buttonSVGs/settings_button.svg);
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 60%;
}

button[fullscreen="off"].fullscreenBKG{
    background-image: url(../images/buttonSVGs/fullscreen_button.svg);
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 60%;
}
button[fullscreen="on"].fullscreenBKG{
    background-image: url(../images/buttonSVGs/fullscreen_off_button.svg);
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 60%;
}
#singleStep.selected{
    background-image: url(../images/buttonSVGs/oneCommandPressed_button.svg)!important;
}
#speedDecrease{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(../images/buttonSVGs/decrease_button.svg);
}
#speedIncrease{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(../images/buttonSVGs/increase_button.svg);
}
.paperclip{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(../images/buttonSVGs/paper_clip.svg);
}
[color-scheme="dark"] #warningSign{
    justify-self: center;
    width: calc(var(--fontsizeVar)*26/30*1.5);
    height: calc(var(--fontsizeVar)*26/30*1.5);
    background-image: none;
}
[color-scheme="dark"] #warningSign[selected="true"]{
    justify-self: center;
    width: calc(var(--fontsizeVar)*26/30*1.5);
    height: calc(var(--fontsizeVar)*26/30*1.5);
    background-position: center center;
    background-size: contain;

    background-repeat: no-repeat;
    background-size: 85% auto;
    background-image: url(../images/buttonSVGs/warnung_Selected_White.svg);
}
#warningSign{
    justify-self: center;
    width: calc(var(--fontsizeVar)*26/30*1.5);
    height: calc(var(--fontsizeVar)*26/30*1.5);
    background-image: none;
}
#warningSign[selected="true"]{
    justify-self: center;
    width: calc(var(--fontsizeVar)*26/30*1.5);
    height: calc(var(--fontsizeVar)*26/30*1.5);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 85% auto;
    background-image: url(../images/buttonSVGs/warnung_Selected.svg);
}
