.gray{
    color:grey;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.errorRed{
  color:var(--red);
}
.labelBlue{
  color:var(--blue);
}
.eingeruckt{
  margin: 0 0;
  padding-left: 1vw;
}
.highlighted{
  background-color: var(--yellow);
}
.crInvert{
  background-color: var(--green);
  border: 1px solid black!important;
}
/* .crInvert{
  background: linear-gradient(to left,var(--green) 50%,  white 50%);
  background-size: 200%;
  transition: background-color .5s ease-in 1s;
  border: 1px solid black!important;
} */

.bkError{
  background-color: var(--red);

}
/* .crInvert::after{
  content: " ";
  background-color: var(--green);
  color: white;
}
.crInvert::before{
  content: " ";
  background-color: var(--green);
  co lor: white;
}*/
.bold{
  font-weight: bold;
}