.gray{
    color:grey;
    font-family: 'Courier New', Courier, monospace;
}
.errorRed{
  color:rgb(221, 6, 6);
}
.labelBlue{
  color:rgb(1, 169, 224);
}
.eingeruckt{
  margin: 0 0;
  padding-left: 1vw;
}
.highlighted{
  background-color: yellow;
}
.crInvert{
  background-color: black;
  color: white;
}
.bold{
  font-weight: bold;
}