.gray{
    color:var(--gray)!important;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.errorRed, .pluserrRed{
  color:var(--red)!important;
}
.labelBlue{
  color:var(--blue)!important;
}
.eingeruckt{
  margin: 0 0;
  padding-left: 1em ;
}
.highlighted{
  background-color: var(--green)!important;
}

.warning{
  color: var(--warning)!important;
}

.bkError{
  background-color: var(--red)!important;

}

.bold{
  font-weight: bold;
}