
#descriptionSymboltableBox{
    display: flex;
    flex:1;
    flex-direction: column;
    overflow: hidden;
}
#descriptionSymboltableBox> div,h2{
    display: block;
    text-align: start;
}
.overflowY{
    overflow-y: auto;
    overflow-x:hidden;
}
.scrollSmooth{
    scroll-behavior: smooth!important;
}
.scrollDisabled{
    overflow-y: hidden!important;
}
#descriptionLines{
    height: auto;
}
#descriptionLines>p{
    margin: var(--var3px);
}
#currentLine *>*{
    height: fit-content;
}
#Addresszahler{
    align-self: center; 
    width: 100%; 
    border-right: var(--var1px) solid;
    font-family: 'Courier New', Courier, monospace;

}
#currentLineLine{
    height: fit-content;
    margin:0 0; 
    padding: var(--var5px) var(--var10px);
    font: bold;
    font-family: 'Courier New', Courier, monospace;
}
#currentLine>*>span{
    padding: var(--var3px) var(--var6px) ; 
    border: var(--var1px) solid var(--bkg1);
}
.crInvert{
    background-color: var(--green);
    border: var(--var1px) solid var(--bkg2)!important; 
    border-radius: var(--var4px);
  }
#Machinenbefehl{
    border-left: var(--var1px) solid;
    padding: var(--var3px) var(--var6px) ; 
    font-family: 'Courier New', Courier, monospace;

}


#symbolTableLines{
    padding: var(--var4px) var(--var4px);
    max-height: 90%;
}
#symbolTableLines>h4{
    margin: var(--var5px) 0;
    line-height: 120%;
    font-family: 'Courier New', Courier, monospace;
}

