
#translation{
    grid-column: 4/8;
    grid-row: 1/8;
}

#descriptionSymboltableBox{
    display: flex;
    flex:1;
    flex-direction: column;
    overflow: hidden;
}
#descriptionSymboltableBox> div,h2{
    display: block;
    text-align: start;
}
.overflowY{
    overflow-y: auto;
    overflow-x:hidden;
}
.scrollSmooth{
    scroll-behavior: smooth!important;
}
.scrollDisabled{
    overflow-y: hidden!important;
    scroll-behavior: smooth;
}
#descriptionLines{
    height: auto;
}
#descriptionLines>p{
    margin: 2px;
}
#currentLine>*>span{
    padding: 0.1em 0.2em;
    border: 0.03em solid var(--bkg1);
}