
.displayText{
    text-align: end;
}
.displayText>p{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 var(--var3px) 0 var(--var5px);
    line-height: 140%;
}
.displayText + .start>p{
    text-align: start;
    font-weight: bold;
}

.displayText + .hoverable>p:hover{
    background-color: var(--green)!important;
    cursor: pointer;
}
.extraP{
    padding: 0 var(--var1px) 0 var(--var3px)
}
.currentlyTranslated{
    background-color: var(--green);
    color: var(--text)!important;
    font-weight: bold;
}
#OutputWindowLines p:hover{
    background-color: var(--green)!important;
    cursor: pointer;
}
#InputText{
    display:grid;
    grid-template-columns: 10% 90%;
}
#OutputText{
    display: grid;
    grid-template-columns: 17.5% auto;
}
.idSideBorder{
    border-right: var(--var1px) solid black;
    text-align: center;
}

.overflowText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}
.overflowElipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}