p{
    font-family: 'Courier New', Courier, monospace;
}
.backgroundContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* grid-row: 1/13;
    grid-column: 1/11; */
    z-index: 4;
    display:flex;
    flex-grow: 1;
    /* -ms-flex: ; */
    /* grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 1fr 80% 1fr;*/
    background: rgba(0, 0, 0, 0.8); 
}
#OutputWindow{
    position:absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 10%; */
}
/* #OutputWindow>h1{
    margin: auto auto auto auto;
} */   
#OutputWindow>textarea{
    /* grid-column: 4/7;
    grid-row:span 4; */
    position:absolute;
    border: 2px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 10%;
    left: 50%;
    width: 45%;
    height: 70%;
    line-height: 114%!important;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#titleHextextareaOutput{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 45%;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#titleMachineCodeOutput{
    position: absolute;
    top: 2%;
    left: 5%;
    width: 45%;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#OutputWindowMachineCode{
    position:absolute;
    border: 2px solid;
    padding-top: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 10%;
    left: 5%;
    width: 45%;
    height: 70%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
}
#OutputWindowMachineCode *>p{
    line-height: 114%!important;
}
#Submit,  #OutputClip{
    position:absolute;
    
    top: 87.5%;
    left: 5%;
    width: 15%;
    height: 10%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#CloseInputWindow, #CloseOutputWindow{
    position:absolute;
    top: 87.5%;
    left: 80%;
    width: 15%;
    height: 10%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#InputWindow{
    position:absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display:flex;
}


#InputWindow>textarea{
    position:absolute;
    border: 1px solid;

    border-radius: 10px;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 70%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#GenerateDummy{
    position: absolute;
    top: 87.5%;
    left: 40%;
    width: 20%;
    height: 10%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#InputTextAreaEnumerationDiv{
    width: 0px;
    height: 100%;
}
#inputButtonDiv{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-row: 5/6;
    grid-column: 1/6;
    overflow: hidden;
}
#inputButtonDiv>*{
    grid-column: span 1;
    border: none;
    border-right:  1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    width: 100%;
    height: 100%;
}
#inputButtonDiv>button{
    cursor: pointer;
}
/* .inoutputbox{
    grid-row: 2/3;
    grid-column: 2/3;
}
 */