p{
    font-family: 'Courier New', Courier, monospace;
}
.backgroundContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
    display:flex;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.8); 
}
#OutputWindow{
    position:absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
}
#InputWindow>button, #OutputWindow>button {
    padding: 0!important;
    margin: 0 0;
    cursor: pointer;
    border: var(--var2px) solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#InputWindow>button, #OutputWindow>button{
    border-radius: var(--var10px);            
}


#OutputWindow>textarea{

    position:absolute;
    border: var(--var2px) solid; 
    border-top-right-radius: var(--var10px); 
    border-bottom-right-radius: var(--var10px); 
    top: 10%;
    left: 50%;
    width: 45%;
    height: 70%;
    line-height: 114%!important;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#Outputwindow>textarea, #InputWindow>textarea{
    box-sizing: border-box;
    padding: var(--var5px);
}
#Outputwindow>textarea:focus, #InputWindow>textarea:focus{
    outline: none;
    border: var(--var4px) solid var(--green);
    padding: var(--var3px);
}

#titleHextextareaOutput{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 45%;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#titleMachineCodeOutput{
    position: absolute;
    top: 2%;
    left: 5%;
    width: 45%;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#OutputWindowMachineCode{
    position:absolute;
    border: var(--var2px) solid;  
    padding-top: var(--var5px); 
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top-left-radius: var(--var10px);  
    border-bottom-left-radius: var(--var10px); 
    top: 10%;
    left: 5%;
    width: 45%;
    height: 70%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
}
#OutputWindowMachineCode *>p{
    line-height: 114%!important;
}
#Submit,  #OutputClip{
    position:absolute;
    
    top: 87.5%;
    left: 5%;
    width: 15%;
    height: 10%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#CloseInputWindow, #CloseOutputWindow{
    position:absolute;
    top: 87.5%;
    left: 80%;
    width: 15%;
    height: 10%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#InputWindow{
    position:absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display:flex;
}
#titleTextareaInput{
    position:absolute;
    top: 7.5%;
    left: 5%;
    width:15%;
    text-align: center;
    margin: 0 0;
}
#InputWindow>textarea{
    position:absolute;
    border: var(--var2px) solid;
    border-radius: var(--var10px);
    top: 13%;
    left: 5%;
    width: 90%;
    height: 70%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#GenerateDummy{
    position: absolute;
    top: 87.5%;
    left: 40%;
    width: 20%;
    height: 10%;
    resize: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#InputTextAreaEnumerationDiv{
    width: 0px;
    height: 100%;
}
