/* #InputText{
    text-align: start;
    overflow-y: scroll;
}
#OutputText{
    text-align: start;
    overflow-y: scroll;
}
#InputText p{
    margin: 0;
    margin-top: 0;
    margin-bottom:0;
    padding: 0;
    padding-left: 3%;
    line-height: 120%;
    display: block;

    font-size: 20px;
}
#OutputText p{
    margin: 0;
    margin-top: 0;
    margin-bottom:0;
    padding: 0;
    padding-left: 3%;
    line-height: 120%;
    display: block;

    font-size: 20px;
}
#InputText p:hover{
    background-color: lightcoral;
    cursor: pointer;
} */
.displayText{
    text-align: start;
}
.displayText>p{
    margin: 0;
    margin-top: 0;
    margin-bottom:0;
    padding: 0;
    padding-left: 2%;
    padding-right:3px;
    line-height: 140%;
    display: block;
    /* width: 120%; */
    font-size: 20px;
}

.displayText + .hoverable>p:hover{
    background-color: lightcoral;
    cursor: pointer;
}
ol{
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5px;
}
ol>li{
    text-align: start;
    word-spacing: 5px;
    font-size: 20px;
    padding-left:-10px;
    width:auto;
    /* overflow:hidden; */
    
}
li:hover{
    background-color: lightcoral;
    cursor: pointer;
    
}
#InputText{
    display:grid;
    grid-template-columns: 10% auto;
    overflow-y: scroll;
}
#OutputText{
    display: grid;
    grid-template-columns: 17.5% auto;
    overflow-y: scroll;
}

/* #InputText>span{
    display: inline-block;
}
#OutputText>span{
    display: inline-block;
} */
/* span.hoverable:hover{
    background-color: lightcoral;
    cursor: pointer;
} */