h1
{
    font-size: calc(var(--maxfontsize32) - 0px);
    font-family: monospace;

}
h2 
{
    font-size: calc(var(--maxfontsize32) - 2px);
    font-family: monospace;
}
h3 
{
    font-size: calc(var(--maxfontsize32) - 4px);
    font-family: monospace;
}
h4 
{
    font-size: calc(var(--maxfontsize32) - 8px);
    font-family: 'Courier New', Courier, monospace;
}
h5{
    font-size: calc(var(--maxfontsize32) - 14px);
}
p
{
    font-size: calc(var(--maxfontsize32) - 8px);
}
textarea{
    font-size: calc(var(--maxfontsize32) - 8px);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

@media screen and  (min-width: 620px) and (min-height: 330px)
{
    #body{
        max-width: 95vw;
        max-height: 95vh; 

        min-width: 620px;
        min-height: 330px;
    }
    h1
    {
        font-size: calc(var(--maxfontsize14) - 0px);
    }
    h2 
    {
        font-size: calc(var(--maxfontsize14) - 2px);
    }
    h3 
    {
        font-size: calc(var(--maxfontsize14) - 4px);
    }
    h4 
    {
        font-size: calc(var(--maxfontsize14) - 8px);
    }
    h5{
        font-size: calc(var(--maxfontsize14) - 12px);
    }
    p
    {
        font-size: calc(var(--maxfontsize14) - 8px);
    }
    textarea{
        font-size: calc(var(--maxfontsize14) - 8px);
        
    }
    #descriptionLines>p{
        margin: 2px;
        font-size: calc(var(--maxfontsize14) - 12px);

    }
    
}

@media screen and  (min-width: 896px) and (min-height: 414px)
{
    #body{
        max-width: 95vw;
        max-height: 95vh; 

        min-width: 896px;
        min-height: 414px;
    }
    h1
    {
        font-size: calc(var(--maxfontsize20) - 0px);
    }
    h2 
    {
        font-size: calc(var(--maxfontsize20) - 2px);
    }
    h3 
    {
        font-size: calc(var(--maxfontsize20) - 4px);
    }
    h4 
    {
        font-size: calc(var(--maxfontsize20) - 8px);
    }
    h5{
        font-size: calc(var(--maxfontsize20) - 14px);
    }
    p
    {
        font-size: calc(var(--maxfontsize20) - 8px);
    }
    textarea{
        font-size: calc(var(--maxfontsize20) - 8px);
    }
    #descriptionLines>p{
        margin: 2px;
        font-size: calc(var(--maxfontsize20) - 12px);

    }
    
}
@media screen and  (min-width: 1366px) and (min-height: 768px)
{
    #body{
        max-width: 95vw;
        max-height: 95vh; 

        min-width: 1366px;
        min-height: 768px;
    }
    h1
    {
        font-size: calc(var(--maxfontsize28) - 0px);
    }
    h2 
    {
        font-size: calc(var(--maxfontsize28) - 2px);
    }
    h3 
    {
        font-size: calc(var(--maxfontsize28) - 4px);
    }
    h4 
    {
        font-size: calc(var(--maxfontsize28) - 8px);
    }
    h5{
        font-size: calc(var(--maxfontsize28) - 14px);
    }
    p
    {
        font-size: calc(var(--maxfontsize28) - 8px);
    }
    textarea{
        font-size: calc(var(--maxfontsize28) - 8px);
    }
    #descriptionLines>p{
        margin: 2px;
        font-size: calc(var(--maxfontsize28) - 12px);

    }
}
@media screen and (min-width: 1600px) and (min-height: 900px) 
{
    #body{
        max-width: 90vw;
        max-height: 90vh; 

        min-width: 1600px;
        min-height: 900px;
    }
    h1
    {
        font-size: calc(var(--maxfontsize30) - 0px);
    }
    h2 
    {
        font-size: calc(var(--maxfontsize30) - 2px);
    }
    h3 
    {
        font-size: calc(var(--maxfontsize30) - 4px);
    }
    h4 
    {
        font-size: calc(var(--maxfontsize30) - 8px);
    }
    h5{
        font-size: calc(var(--maxfontsize30) - 14px);
    }
    p
    {
        font-size: calc(var(--maxfontsize30) - 8px);
    }
    textarea{
        font-size: calc(var(--maxfontsize30) - 8px);
    }
    #descriptionLines>p{
        margin: 2px;
        font-size: calc(var(--maxfontsize30) - 12px);
    }
    
}
@media screen and (min-width: 1920px) and (min-height: 1080px)
{
    #body{
        min-width: 1920px;
        min-height: 1080px;

        max-width: 90vw;
        max-height: 90vh; 
    }
    h1
    {
        font-size: calc(var(--maxfontsize32) - 0px);
    }
    h2 
    {
        font-size: calc(var(--maxfontsize32) - 2px);
    }
    h3 
    {
        font-size: calc(var(--maxfontsize32) - 4px);
    }
    h4 
    {
        font-size: calc(var(--maxfontsize32) - 8px);
    }
    h5{
        font-size: calc(var(--maxfontsize32) - 14px);
    }
    p
    {
        font-size: calc(var(--maxfontsize32) - 8px);
    }
    textarea{
        font-size: calc(var(--maxfontsize32) - 8px);
    }
    #descriptionLines>p{
        margin: 2px;
        font-size: calc(var(--maxfontsize32) - 12px);
    }
        
}
