
@import "./InputWindow.css";
@import "./InputOutputText.css";
@import "./variables.css";
@import "./DescriptionTable.css";
@import "colorSheet.css";
@import "./SymbolTable.css";
@import "./media.css";

[color-scheme="dark"]{
    --text: var(--text-dark);
    --green: var(--green-dark);
    --yellow: var(--yellow-dark);
    --warning: var(--orange-dark);
    --blue: var(--blue-dark);
    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --gray: var(--gray-dark);

    --verticalBackground: var(--verticalBackgroundDark);
    --horizontalBackground: var(--horizontalBackgroundDark);
    --arrowUp: var(--arrowUpDark);
    --arrowDown: var(--arrowDownDark);
    --arrowLeft: var(--arrowLeftDark);
    --arrowRight: var(--arrowRightDark);
    --jq1: var(--jq1Dark);
    --jq2: var(--jq2Dark);
    --jq3: var(--jq3Dark);
    --jq4: var(--jq4Dark);

    --playBKG: var(--playBKGDark);
    --pauseBKG: var(--pauseBKGDark);
    --resetBKG: var(--resetBKGDark);
    --singleStep: var(--singleStepDark);
    --singleStepActive: var(--singleStepActiveDark);

    --slowerBKG: var(--slowerAniDark);
    --fasterBKG: var(--fasterAniDark);
    --noAnimationBKG:var(--noAnimationDark);
    --skipBKG:var(--skipBKGDark);
    --lightBKG:var(--lightBKGDark);
    --decreaseBKG: var(--decreaseBKGDark);
    --increaseBKG: var(--increaseBKGDark);

}

[color-scheme="light"]{
    --text: var(--text-light);
    --green: var(--green-light);
    --yellow: var(--yellow-light);
    --warning: var(--orange-light);
    --blue: var(--blue-light);

    --bkg1: var(--bkg1-light);
    --bkg2: var(--bkg2-light);
    --gray: var(--gray-light);

    --verticalBackground: var(--verticalBackgroundLight);
    --horizontalBackground: var(--horizontalBackgroundLight);
    --arrowUp: var(--arrowUpLight);
    --arrowDown: var(--arrowDownLight);
    --arrowLeft: var(--arrowLeftLight);
    --arrowRight: var(--arrowRightLight);
    --jq1: var(--jq1Light);
    --jq2: var(--jq2Light);
    --jq3: var(--jq3Light);
    --jq4: var(--jq4Light);

    --playBKG: var(--playBKGLight);
    --pauseBKG: var(--pauseBKGLight);
    --resetBKG: var(--resetBKGLight);
    --singleStep: var(--singleStepLight);
    --singleStepActive: var(--singleStepActiveLight);
    --slowerBKG: var(--slowerAniLight);
    --fasterBKG: var(--fasterAniLight);
    --noAnimationBKG:var(--noAnimationLight);
    --skipBKG:var(--skipBKGLight);
    --lightBKG:var(--lightBKGLight);
    --decreaseBKG: var(--decreaseBKGLight);
    --increaseBKG: var(--increaseBKGLight);
}
.titel{
    color: var(--blue)!important;
}
.arrowU{
    background-image: var(--arrowUp);
}
.arrowD{
    background-image: var(--arrowDown);
}
.arrowLeft{
    background-image: var(--arrowLeft);
}
.arrowRight{
    background-image: var(--arrowRight);
}
.jointQ1{
    background-image: var(--jq1);
}
.jointQ2{
    background-image: var(--jq2);
}
.jointQ3{
    background-image: var(--jq3);
}
.jointQ4{
    background-image: var(--jq4);
}

.bgI_C_C{
    background-color: transparent !important;
    position: absolute;
    background-position: center center;
    background-size: contain;
}

.arrowUP_Down{
    width: var(--arrowHeadH);
    height: var(--arrowHeadW);
    background-repeat: no-repeat;
}
.arrowLeft_Right{
    width: var(--arrowHeadW);
    height: var(--arrowHeadH);
    background-repeat: no-repeat;
}
.verticalBody{
    width: var(--arrowWidth);
    background-image: var(--verticalBackground);
    background-repeat: repeat-y;
    background-size: 100% auto;
}
.horizontalBody{
    height: var(--arrowHeight);
    background-image: var(--horizontalBackground);
    background-repeat: repeat-x;
    background-size: auto 100%;


}
.jointBody{
    width: var(--arrowWidth);
    height: var(--arrowHeight);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.pausedBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    background-image: var(--pauseBKG);
    background-size: auto 50%;
}
.playingBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    background-image: var(--playBKG);
    background-size: auto 50%;
}
.resetBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    background-image: var(--resetBKG);
    background-size: auto 50%;
}
.skipBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 50%;
    
    background-image: var(--skipBKG);
}
.slowerBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: var(--slowerBKG);
}
.fasterBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: var(--fasterBKG);
}
.noAnimationBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    background-image: var(--noAnimationBKG);
}
.lightButton{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-image: var(--lightBKG);
}
.singleStepBKG{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: var(--singleStep);
}
#singleStep.selected{
    background-image: var(--singleStepActive)!important;
}
#speedDecrease{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: var(--decreaseBKG);
}
#speedIncrease{
    background-position: center center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: var(--increaseBKG);
}
/* input[type="range"]{
    color:rgb(85, 151, 252);
} */
.customScrollbar::-webkit-scrollbar{
    padding: 0px 2px;
    width: 7px;
}
.customScrollbar::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--bkg1);
    border-radius: 5px;
}
.customScrollbar::-webkit-scrollbar-thumb{
    /* background:  var(--bkg1); */    
    background-color: var(--blue);

    border-radius: 5px;
}
.customScrollbar::-webkit-scrollbar-thumb:hover{
    background-color:rgb(16, 110, 252);

}
.customScrollbar{
    background-image: none;
}
.selected{
    background-color:rgb(16, 110, 252);
}



body *>*,body{
    color:var(--text);
    background-color: var(--bkg1);
    border-color: var(--bkg2);
}
body::after{
    position: absolute;width: 0;height: 0;overflow: hidden;z-index: -1;
    content: 
        url(../images/BlackBorderArrowDown.svg)
        url(../images/BlackBorderArrowLeft.svg)
        url(../images/BlackBorderArrowRight.svg)
        url(../images/BlackBorderArrowUp.svg)

        url(../images/BlackBorderHorizontal.svg)
        url(../images/BlackBorderVertical.svg)

        url(../images/BlackBorderLeftToUp.svg)
        url(../images/BlackBorderLeftToDown.svg)
        url(../images/BlackBorderUpToRight.svg)

        url(../images/WhiteBorderArrowDown.svg)
        url(../images/WhiteBorderArrowLeft.svg)
        url(../images/WhiteBorderArrowRight.svg)
        url(../images/WhiteBorderArrowUp.svg)
        
        url(../images/WhiteBorderVertical.svg)
        url(../images/WhiteBorderHorizontal.svg)

        url(../images/WhiteBorderLeftToDown.svg)
        url(../images/WhiteBorderLeftToUp.svg)
        url(../images/WhiteBorderUpToRight.svg)
        url(../images/BlackBorderQ3.svg)
        url(../images/WhiteBorderQ3.svg)
        url(../images/buttonSVGs/decrease_button.svg)
        
        url(../images/buttonSVGs/decreaseWhite_button.svg)
        url(../images/buttonSVGs/fasterAnimation_button.svg)
        url(../images/buttonSVGs/fasterAnimation_button_Alt.svg)
        url(../images/buttonSVGs/fasterAnimation_White_button.svg)
        url(../images/buttonSVGs/fasterAnimation_White_button_Alt.svg)
        url(../images/buttonSVGs/increase_button.svg)
        url(../images/buttonSVGs/increaseWhite_button.svg)
        url(../images/buttonSVGs/fasterAnimation_White_button_Alt.svg)
        url(../images/buttonSVGs/increase_button.svg)
        url(../images/buttonSVGs/increaseWhite_button.svg)
        url(../images/buttonSVGs/increaseWhite_button.svg)
        url(../images/buttonSVGs/lightSwitch_button.svg)
        url(../images/buttonSVGs/lightSwitch_White_button.svg)
        url(../images/buttonSVGs/noAnimation_button.svg)
        url(../images/buttonSVGs/noAnimationWhite_button.svg)
        url(../images/buttonSVGs/slowerAnimation_White_button_Alt.svg)
        url(../images/buttonSVGs/slowerAnimation_White_button.svg)
        url(../images/buttonSVGs/slowerAnimation_button_Alt.svg)
        url(../images/buttonSVGs/slowerAnimation_button.svg)
        url(../images/buttonSVGs/skipWhite_button.svg)
        url(../images/buttonSVGs/skip_button.svg)
        url(../images/buttonSVGs/singleStep_White_button.svg)
        url(../images/buttonSVGs/singleStep_White_Active_button.svg)
        url(../images/buttonSVGs/singleStep_button.svg)
        url(../images/buttonSVGs/singleStep_Active_button.svg)
        url(../images/buttonSVGs/resetWhite_button.svg)
        url(../images/buttonSVGs/reset_button.svg)
        url(../images/buttonSVGs/pause_button.svg)
        url(../images/buttonSVGs/pauseWhite_button.svg)
        url(../images/buttonSVGs/play_button.svg)
        url(../images/buttonSVGs/playWhite_button.svg)
        ;
}

#body{
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 5px;
    margin: 0 auto;
}
.maxwidth{
    width:100%;
}
.alignleft{
    text-align: left;
}
.aligncenter{
    text-align: center;
}
body>* h1{
    text-align: center;
}


.noMargin{
    margin: 0 0;
}

#buttonLeiste{
    grid-column: 2/10;
    grid-row: 12/13;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    background-color: var(--bkg2);
}
#translated{
    grid-column: 8/11;
    grid-row: 1/12;
    
}
#translation{
    grid-column: 4/8;
    grid-row: 1/8;
}
#toTranslate{
    grid-column: 1/4;
    grid-row: 1/12;
}
#SymbolTable{
    grid-column: 4/8;
    grid-row: 8/12;
}
#buttonLeiste *> button, #buttonLeiste> button, #InputWindow>button, #OutputWindow>button {
    padding: 5px 5px;
    margin: 0 0;
    border: 1px solid var(--bkg2);
    cursor: pointer;
    /*  background-color: transparent; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#buttonLeiste *> button, #buttonLeiste> button{
    width: 100%;
    height: 100%;
    border-top:none;
    border-bottom:none;
}
#InputWindow>button, #OutputWindow>button{
    border-radius: 10px;
}


#translatedinfo{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 35% 1px 1fr;
}
/* GRID CONFIG */

.bottomDivider{
    border-top: 2px solid;
}
.leftDivider{
    border-right: 2px solid;
}
.rightDivider{
    border-left: 2px solid;
}
.topDivider{
    border-bottom: 2px solid;
}
.MiddleBoxAlt{
    display: grid;
    grid-template-rows:minmax(min-content,max-content) min-content 1px min-content 1px 1fr  12%;
    grid-template-columns: 1fr;
}
.SideBox{
    display: grid;
    grid-template-rows: minmax(min-content,max-content) 1fr  min-content/* var(--bottomHeight) */;
    grid-template-columns: 1fr;
}
.dividerDiv{
    width: 100%; 
    height: 1px; 
    background-color: var(--bkg2);
}
#speedButtonDiv{
    grid-column: span 3;
    overflow: hidden; 
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}
#speedButtonDiv>*{
    width: 100%;
    height: 100%;
}
/* Hide scrollbar for IE, Edge and Firefox */
.noScrollbar::-webkit-scrollbar {
    display: none;
}
.noScrollbar {
    -ms-overflow-style: none;   /* IE and Edge  */
    scrollbar-width: none;      /* Firefox      */
}  
.hidden{
    visibility: hidden;
}
/* BUTTON CONFIG */
.boxBorder{
    border: 3px solid;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(85, 151, 252);
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.button1{
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border-left: 1px solid;
    border-top:none;
    border-bottom:none;
    border-right:  1px solid;
    cursor: pointer;
    /*  background-color: transparent; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.noMP{
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: fit-content;
}
#Machinenbefehl{
    border-left: 1px solid;
}
#translated,#buttonLeiste,#translatedinfo,#translation,#toTranslate,#SymbolTable,#InputWindow,#OutputWindow{
    overflow: hidden;
}