
@import "./InputWindow.css";
@import "./InputOutputText.css";
@import "./variables.css";
@import "./DescriptionTable.css";
@import "colorSheet.css";
@import "./SymbolTable.css";
@import "./media.css";

@media(prefers-color-scheme: dark){
    :root {
        --green: var(--green-dark);
        --text: var(--text-dark);
        --bkg1: var(--bkg1-dark);
        --bkg2: var(--bkg2-dark);
        --yellow: var(--yellow-dark);
        --warning: var(--orange-dark);
        --blue: var(--blue-dark);
        --gray: var(--gray-dark);
        --verticalBackground: var(--verticalBackgroundDark);
        --horizontalBackground: var(--horizontalBackgroundDark);
        --arrowUp: var(--arrowUpDark);
        --arrowDown: var(--arrowDownDark);
        --arrowLeft: var(--arrowLeftDark);
        --arrowRight: var(--arrowRightDark);
        --jq1: var(--jq1Dark);
        --jq2: var(--jq2Dark);
        --jq3: var(--jq3Dark);
    }
}

  
@media(prefers-color-scheme: light){
    :root {
        --text: var(--text-light);
        --green: var(--green-light);
        --yellow: var(--yellow-light);
        --bkg1: var(--bkg1-light);
        --bkg2: var(--bkg2-light);
        --gray: var(--gray-light);
        --warning: var(--orange-light);
        --blue: var(--blue-light);
        --verticalBackground: var(--verticalBackgroundLight);
        --horizontalBackground: var(--horizontalBackgroundLight);
        --arrowUp: var(--arrowUpLight);
        --arrowDown: var(--arrowDownLight);
        --arrowLeft: var(--arrowLeftLight);
        --arrowRight: var(--arrowRightLight);
        --jq1: var(--jq1Light);
        --jq2: var(--jq2Light);
        --jq3: var(--jq3Light);       
    }
}

[color-scheme="dark"]{
    --text: var(--text-dark);
    --green: var(--green-dark);
    --yellow: var(--yellow-dark);
    --warning: var(--orange-dark);
    --blue: var(--blue-dark);

    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --gray: var(--gray-dark);
    --verticalBackground: var(--verticalBackgroundDark);
    --horizontalBackground: var(--horizontalBackgroundDark);
    --arrowUp: var(--arrowUpDark);
    --arrowDown: var(--arrowDownDark);
    --arrowLeft: var(--arrowLeftDark);
    --arrowRight: var(--arrowRightDark);
    --jq1: var(--jq1Dark);
    --jq2: var(--jq2Dark);
    --jq3: var(--jq3Dark);

}

[color-scheme="light"]{
    --text: var(--text-light);
    --green: var(--green-light);
    --yellow: var(--yellow-light);
    --warning: var(--orange-light);
    --blue: var(--blue-light);

    --bkg1: var(--bkg1-light);
    --bkg2: var(--bkg2-light);
    --gray: var(--gray-light);

    --verticalBackground: var(--verticalBackgroundLight);
    --horizontalBackground: var(--horizontalBackgroundLight);
    --arrowUp: var(--arrowUpLight);
    --arrowDown: var(--arrowDownLight);
    --arrowLeft: var(--arrowLeftLight);
    --arrowRight: var(--arrowRightLight);
    --jq1: var(--jq1Light);
    --jq2: var(--jq2Light);
    --jq3: var(--jq3Light);
}

.arrowU{
    background-image: var(--arrowUp);
}
.arrowD{
    background-image: var(--arrowDown);
}
.arrowLeft{
    background-image: var(--arrowLeft);
}
.arrowRight{
    background-image: var(--arrowRight);
}
.jointQ1{
    background-image: var(--jq1);
}
.jointQ2{
    background-image: var(--jq2);
}
.jointQ3{
    background-image: var(--jq3);
}

.bgI_C_C{
    background-color: transparent !important;
    position: absolute;
    background-position: center center;
    background-size: contain;
}
/* .bgI_C_C + [direction="down"]{
    background-image: var(--arrowDown);
}
.bgI_C_C + [direction="up"]{
    background-image: var(--arrowUp);
}
.bgI_C_C + [direction="left"]{
    background-image: var(--arrowLeft);
}
.bgI_C_C + [direction="right"]{
    background-image: var(--arrowRight);
} */

.arrowUP_Down{
    width: var(--arrowHeadH);
    height: var(--arrowHeadW);
    background-repeat: no-repeat;
}
.arrowLeft_Right{
    width: var(--arrowHeadW);
    height: var(--arrowHeadH);
    background-repeat: no-repeat;
}
.verticalBody{
    width: var(--arrowWidth);
    background-image: var(--verticalBackground);
    background-repeat: repeat-y;
}
.horizontalBody{
    height: var(--arrowHeight);
    background-image: var(--horizontalBackground);
    background-repeat: repeat-x;

}
.jointBody{
    width: var(--arrowWidth);
    height: var(--arrowHeight);
    background-repeat: no-repeat;
}

body *>*,body{
    color:var(--text);
    background-color: var(--bkg1);
    border-color: var(--bkg2);
}
body::after{
    position: absolute;width: 0;height: 0;overflow: hidden;z-index: -1;
    content: 
        url(../images/BlackBorderArrowDown.svg)
        url(../images/BlackBorderArrowLeft.svg)
        url(../images/BlackBorderArrowRight.svg)
        url(../images/BlackBorderArrowUp.svg)

        url(../images/BlackBorderHorizontal.svg)
        url(../images/BlackBorderVertical.svg)

        url(../images/BlackBorderLeftToUp.svg)
        url(../images/BlackBorderLeftToDown.svg)
        url(../images/BlackBorderUpToRight.svg)

        url(../images/WhiteBorderArrowDown.svg)
        url(../images/WhiteBorderArrowLeft.svg)
        url(../images/WhiteBorderArrowRight.svg)
        url(../images/WhiteBorderArrowUp.svg)
        
        url(../images/WhiteBorderVertical.svg)
        url(../images/WhiteBorderHorizontal.svg)

        url(../images/WhiteBorderLeftToDown.svg)
        url(../images/WhiteBorderLeftToUp.svg)
        url(../images/WhiteBorderUpToRight.svg)
        ;
}

#body{
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 5px;
    margin: 0 auto;
}
.maxwidth{
    width:100%;
}
.alignleft{
    text-align: left;
}
.aligncenter{
    text-align: center;
}
body>* h1{
    text-align: center;
}

#toTranslate{
    grid-column: 1/4;
    grid-row: 1/13;
}

.noMargin{
    margin: 0 0;
}

.grid8020{
    display:grid;
    grid-template-columns: 80% 20%;
}
.grid602020{
    display: grid;
    grid-template-columns: 60% 20% 20%;
}
.grid2080{
    display: grid;
    grid-template-columns: 20% 80%;
}
#buttonLeiste{
    grid-column: 4/8;
    grid-row: 12/13;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    background-color: var(--bkg2);
}
#translated{
    grid-column: 8/11;
    grid-row: 1/13;
    
}
#translatedinfo{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 35% 1px 1fr;
}
/* GRID CONFIG */

.bottomDivider{
    border-top: 2px solid;
}
.leftDivider{
    border-right: 2px solid;
}
.rightDivider{
    border-left: 2px solid;
}
.topDivider{
    border-bottom: 2px solid;
}
.MiddleBoxAlt{
    display: grid;
    grid-template-rows:minmax(min-content,max-content) min-content 1px min-content 1px 1fr  12%;
    grid-template-columns: 1fr;
}
.SideBox{
    display: grid;
    grid-template-rows: minmax(min-content,max-content) 1fr var(--bottomHeight);
    grid-template-columns: 1fr;
}
.dividerDiv{
    width: 100%; 
    height: 1px; 
    background-color: var(--bkg2);
}
/* .MiddleBox{
    display: grid;
grid-template-rows:72px minmax(1fr,1fr) 60px;
grid-template-columns: 1fr;
} */

.Title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.Title>h1{
    margin-bottom: auto;
}
.bottomBox{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;

}
.bottomBox>h1{
    margin-bottom: auto;
}
.setHeight10Pro{
    height:10%;
}
/* Hide scrollbar for IE, Edge and Firefox */
.noScrollbar::-webkit-scrollbar {
    display: none;
}
.noScrollbar {
    -ms-overflow-style: none;   /* IE and Edge  */
    scrollbar-width: none;      /* Firefox      */
}  

.p10px{
    padding-left: 10px;
}

.p5px{
    padding-left: 5px;
}

.blr{
    border-bottom-right-radius: 5px ;
}
.displayFlex{
    display:flex;
}
.alignSelfEnd{
    align-self: end;
}
/* BUTTON CONFIG */
.boxBorder{
    border: 3px solid;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(85, 151, 252);
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.button1{
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border-left: 1px solid;
    border-top:none;
    border-bottom:none;
    border-right:  1px solid;
    cursor: pointer;
    /*  background-color: transparent; */
  /*  -webkit-box-sizing: border-box;
    box-sizing: border-box;
 */
}
.buttonLeftSide{
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
/* .buttonMiddle{

} */
.buttonRightSide{
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.noMP{
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: fit-content;
}
.hoverableID{
    font-weight: bold;
}

#Machinenbefehl{
    border-left: 1px solid;
}
#translated,#buttonLeiste,#translatedinfo,#translation,#toTranslate,#SymbolTable,#InputWindow,#OutputWindow{
    overflow: hidden;
}