#SymbolTable{
    grid-column: 4/8;
    grid-row: 8/12;
}
#symbolTableLines{
    padding: 7.5px 7.5px;
}
#symbolTableLines>h4{
    margin: 5px 0px;
    font-size: 21px;
    letter-spacing: 0.8px;
    line-height: 120%;
}

.testElemStyle{
    position: absolute;
    background-color: brown;
    margin-top: 0;
    margin-bottom: 0;
    
}