#SymbolTable{
    grid-column: 4/8;
    grid-row: 8/12;
}
#symbolTableLines{
    padding: 7.5px 7.5px;
    max-height: 90%;
}
#symbolTableLines>h4{
    margin: 5px 0px;
    line-height: 120%;
    font-family: 'Courier New', Courier, monospace;
}

.testElemStyle{
    position: absolute;
    background-color: rgb(187, 241, 37);
    height: fit-content;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    
}