:root{
    --bottomHeight: calc(70/894*100%);
    --hBorderRadius: 4px;
    --btnEXPspeed: 0.2s;
    --var10px: 10px;
    --var8px: 8px;
    --var6px: 6px;
    --var5px: 5px;
    --var4px: 4px;
    --var3px: 3px;
    --var2px: 2px;
    --var1_5px: 1.5px;
    --var1px: 1px;
    --bodyWidth:1920px;
    --bodyHeight:1080px;

    /* COLOR CONFIG (LIGHT & DARK) */
    --green-light: #bbf125;
    --green-dark: #8fc400;

    --gray-light: #808080;
    --gray-dark: #c4c4c4;
    
    --red: #dd0606;
    --purple: #642cff;
    
    /* --blue-light: #00b2ee;
    --blue-dark: #009bcf; */
    --blue-light: #009bcf;
    --blue-dark: #009bcf; 
    
    --yellow-light:#ffff00ec;
    --yellow-dark:#d6d600ec;
    
    /* --orange-light: #ff932d;
    --orange-dark: #ff7b00; */
    --orange-light: #ff7b00;
    --orange-dark: #ff7b00;

    --text-light: #222;
    --bkg1-light: #fbfbfb;
    --bkg2-light: #222;
  
    --text-dark: #fbfbfb;
    /* --bkg1-dark: #222; */
    --bkg1-dark: #222;
    --bkg2-dark: #fbfbfb;

    /* ARROW BACKGROUND URL CONFIG (LIGHT & DARK) */

    --verticalBackgroundDark: url(../images/WhiteBorderVertical.svg);
    --horizontalBackgroundDark: url(../images/WhiteBorderHorizontal.svg);
    --arrowUpDark: url(../images/WhiteBorderArrowUp.svg);
    --arrowDownDark: url(../images/WhiteBorderArrowDown.svg);
    --arrowLeftDark: url(../images/WhiteBorderArrowLeft.svg);
    --arrowRightDark: url(../images/WhiteBorderArrowRight.svg);
    --jq1Dark:url(../images/WhiteBorderQ1.svg);
    --jq2Dark:url(../images/WhiteBorderQ2.svg);
    --jq3Dark:url(../images/WhiteBorderQ3.svg);
    --jq4Dark:url(../images/WhiteBorderQ4.svg);

    --verticalBackgroundLight: url(../images/BlackBorderVertical.svg);
    --horizontalBackgroundLight: url(../images/BlackBorderHorizontal.svg);
    --arrowUpLight: url(../images/BlackBorderArrowUp.svg);
    --arrowDownLight: url(../images/BlackBorderArrowDown.svg);
    --arrowLeftLight: url(../images/BlackBorderArrowLeft.svg);
    --arrowRightLight: url(../images/BlackBorderArrowRight.svg);
    --jq1Light:url(../images/BlackBorderQ1.svg);
    --jq2Light:url(../images/BlackBorderQ2.svg);
    --jq3Light:url(../images/BlackBorderQ3.svg);
    --jq4Light:url(../images/BlackBorderQ4.svg);
    
    /* BUTTON BACKGROUND URL CONFIG */

    --playBKGDark:url(../images/buttonSVGs/playWhite_button.svg);
    --pauseBKGDark:url(../images/buttonSVGs/pauseWhite_button.svg);
    --resetBKGDark:url(../images/buttonSVGs/resetWhite_button.svg);
    --skipBKGDark:url(../images/buttonSVGs/skipWhite_button.svg);
    --slowerAniDark:url(../images/buttonSVGs/slowerAnimation_White_button.svg);
    --fasterAniDark:url(../images/buttonSVGs/fasterAnimation_White_button_Alt.svg);
    --noAnimationDark:url(../images/buttonSVGs/noAnimationWhite_button.svg);
    --singleStepDark:url(../images/buttonSVGs/oneCommandWhite_button.svg);
    --singleStepActiveDark:url(../images/buttonSVGs/oneCommandWhitePressed_button.svg);
    --decreaseBKGDark:url(../images/buttonSVGs/decreaseWhite_button.svg);
    --increaseBKGDark:url(../images/buttonSVGs/increaseWhite_button.svg);
    --settinngBKGDark:url(../images/buttonSVGs/settingsWhite_button.svg);
    --lightBKGDark:url(../images/buttonSVGs/lightSwitch_White_button.svg);
    --fullscreenBKG_ON_Dark:url(../images/buttonSVGs/fullscreenWhite_button.svg);
    --fullscreenBKG_OFF_Dark:url(../images/buttonSVGs/fullscreen_off_White_button.svg);
    
    --playBKGLight:url(../images/buttonSVGs/play_button.svg);
    --pauseBKGLight:url(../images/buttonSVGs/pause_button.svg);
    --resetBKGLight:url(../images/buttonSVGs/reset_button.svg);
    --skipBKGLight:url(../images/buttonSVGs/skip_button.svg);
    --slowerAniLight:url(../images/buttonSVGs/slowerAnimation_button.svg);
    --fasterAniLight:url(../images/buttonSVGs/fasterAnimation_button_Alt.svg);
    --noAnimationLight:url(../images/buttonSVGs/noAnimation_button.svg);
    --lightBKGLight:url(../images/buttonSVGs/lightSwitch_button.svg);
    --singleStepLight:url(../images/buttonSVGs/oneCommand_button.svg);
    --singleStepActiveLight:url(../images/buttonSVGs/oneCommandPressed_button.svg);
    --decreaseBKGLight:url(../images/buttonSVGs/decrease_button.svg);
    --increaseBKGLight:url(../images/buttonSVGs/increase_button.svg);
    --settinngBKGLight:url(../images/buttonSVGs/settings_button.svg);
    --fullscreenBKG_ON_Light:url(../images/buttonSVGs/fullscreen_button.svg);
    --fullscreenBKG_OFF_Light:url(../images/buttonSVGs/fullscreen_off_button.svg);

    /* ARROW SIZE CONFIG */
    /* W - width for screen | H- height for screen */
    --arrowHeadlrW: 40px;
    --arrowHeadlrH: 40px;
    --arrowBodyW: 20px;
    --fontsizeVar:1.465vmax;

    --size5px:5px;
    /* --arrowHeadlrW: 2rem;
    --arrowHeadlrH: 2.25rem;
    --arrowBodyW: 1.25rem; */

    --arrowHeadW: var(--arrowHeadlrW);
    --arrowHeadH: var(--arrowHeadlrH);
    --arrowHeight: var(--arrowBodyW);
    --arrowWidth: var(--arrowBodyW);

}