:root{
    --maxheight1680: 1680px;
    --maxwidth920: 920px;
    --maxfontsize32:32px;
    --maxfontsize30:30px;
    --maxfontsize28:28px;
    --maxfontsize26:26px;
    --maxfontsize24:24px;
    --maxfontsize22:22px;
    --maxfontsize20:20px;
    --maxfontsize18:18px;
    --maxfontsize16:16px;
    --maxfontsize14:14px;

}