:root{
    --maxheight1680: 1680px;
    --maxwidth920: 920px;
    --maxfontsize32:32px;
    --maxfontsize30:30px;
    --maxfontsize28:28px;
    --maxfontsize26:26px;
    --maxfontsize24:24px;
    --maxfontsize22:22px;
    --maxfontsize20:20px;
    --maxfontsize18:18px;
    --maxfontsize16:16px;
    --maxfontsize14:14px;

    --bottomHeight: calc(70/894*100%);
    --hBorderRadius: 0.2em;

    /* COLOR CONFIG (LIGHT & DARK) */
    --green-light: #bbf125;
    --green-dark: #8fc400;

    --gray-light: grey;
    --gray-dark: #c4c4c4;
    
    --red: #dd0606;
    
    
    --blue-light: #00b2ee;
    /* --blue-light: rgb(85, 151, 252); */
    --blue-dark: #009bcf;
    
    --yellow-light:#ffff00ec;
    --yellow-dark:#d6d600ec;
    
    --orange-light: #ff932d;
    --orange-dark: #ff7b00;

    --text-light: #111;
    --bkg1-light: #fbfbfb;
    --bkg2-light: #111;
  
    --text-dark: white;
    /* --bkg1-dark: #222; */
    --bkg1-dark: #111;
    --bkg2-dark: #ffffff;

    /* ARROW BACKGROUND URL CONFIG (LIGHT & DARK) */
    --verticalBackgroundDark: url(../images/WhiteBorderVertical.svg);
    --horizontalBackgroundDark: url(../images/WhiteBorderHorizontal.svg);
    --arrowUpDark: url(../images/WhiteBorderArrowUp.svg);
    --arrowDownDark: url(../images/WhiteBorderArrowDown.svg);
    --arrowLeftDark: url(../images/WhiteBorderArrowLeft.svg);
    --arrowRightDark: url(../images/WhiteBorderArrowRight.svg);
    --jq1Dark:url(../images/WhiteBorderQ1.svg);
    --jq2Dark:url(../images/WhiteBorderQ2.svg);
    --jq3Dark:url(../images/WhiteBorderQ3.svg);
    --jq4Dark:url(../images/WhiteBorderQ4.svg);

    --verticalBackgroundLight: url(../images/BlackBorderVertical.svg);
    --horizontalBackgroundLight: url(../images/BlackBorderHorizontal.svg);
    --arrowUpLight: url(../images/BlackBorderArrowUp.svg);
    --arrowDownLight: url(../images/BlackBorderArrowDown.svg);
    --arrowLeftLight: url(../images/BlackBorderArrowLeft.svg);
    --arrowRightLight: url(../images/BlackBorderArrowRight.svg);
    --jq1Light:url(../images/BlackBorderQ1.svg);
    --jq2Light:url(../images/BlackBorderQ2.svg);
    --jq3Light:url(../images/BlackBorderQ3.svg);
    --jq4Light:url(../images/BlackBorderQ4.svg);
    
    /* BUTTON BACKGROUND URL CONFIG */
    --playBKGLight:url(../images/buttonSVGs/play_button.svg);
    --playBKGDark:url(../images/buttonSVGs/playWhite_button.svg);

    --pauseBKGLight:url(../images/buttonSVGs/pause_button.svg);
    --pauseBKGDark:url(../images/buttonSVGs/pauseWhite_button.svg);
    
    --resetBKGLight:url(../images/buttonSVGs/reset_button.svg);
    --resetBKGDark:url(../images/buttonSVGs/resetWhite_button.svg);
    
    --singleStepDark:url(../images/buttonSVGs/oneCommandWhite_button.svg);
    --singleStepLight:url(../images/buttonSVGs/oneCommand_button.svg);
    --singleStepActiveDark:url(../images/buttonSVGs/oneCommandWhitePressed_button.svg);
    --singleStepActiveLight:url(../images/buttonSVGs/oneCommandPressed_button.svg);
    --slowerAniDark:url(../images/buttonSVGs/slowerAnimation_White_button.svg);
    --slowerAniLight:url(../images/buttonSVGs/slowerAnimation_button.svg);

    --fasterAniDark:url(../images/buttonSVGs/fasterAnimation_White_button_Alt.svg);
    --fasterAniLight:url(../images/buttonSVGs/fasterAnimation_button_Alt.svg);

    --noAnimationDark:url(../images/buttonSVGs/noAnimationWhite_button.svg);
    --noAnimationLight:url(../images/buttonSVGs/noAnimation_button.svg);

    
    /* will be set to single step */
    --skipBKGLight:url(../images/buttonSVGs/skip_button.svg);
    --skipBKGDark:url(../images/buttonSVGs/skipWhite_button.svg);

    
    --decreaseBKGDark:url(../images/buttonSVGs/decreaseWhite_button.svg);
    --decreaseBKGLight:url(../images/buttonSVGs/decrease_button.svg);
    
    --increaseBKGDark:url(../images/buttonSVGs/increaseWhite_button.svg);
    --increaseBKGLight:url(../images/buttonSVGs/increase_button.svg);
    
    --lightBKGDark:url(../images/buttonSVGs/lightSwitch_White_button.svg);
    --lightBKGLight:url(../images/buttonSVGs/lightSwitch_button.svg);
    --fullscreenBKG_ON_Dark:url(../images/buttonSVGs/fullscreenWhite_button.svg);
    --fullscreenBKG_ON_Light:url(../images/buttonSVGs/fullscreen_button.svg);
    --fullscreenBKG_OFF_Dark:url(../images/buttonSVGs/fullscreen_off_White_button.svg);
    --fullscreenBKG_OFF_Light:url(../images/buttonSVGs/fullscreen_off_button.svg);
    /* ARROW SIZE CONFIG */
    /* W - width for screen | H- height for screen */
    --arrowHeadlrW: 40px;
    --arrowHeadlrH: 40px;
    --arrowBodyW: 20px;
    
    /* --arrowHeadlrW: 2rem;
    --arrowHeadlrH: 2.25rem;
    --arrowBodyW: 1.25rem; */

    --arrowHeadW: var(--arrowHeadlrW);
    --arrowHeadH: var(--arrowHeadlrH);
    --arrowHeight: var(--arrowBodyW);
    --arrowWidth: var(--arrowBodyW);

}